/.metadata
.DS_Store
Emporium/res/.DS_Store
Emporium/res/drawable-mdpi/.DS_Store
Emporium/src/.DS_Store
Emporium/src/com/.DS_Store
Emporium/src/com/mobileapplications/.DS_Store
Emporium/src/com/mobileapplications/emporium/.DS_Store
Emporium_test/.DS_Store
Emporium_test/src/.DS_Store
Emporium_test/src/com/.DS_Store
Emporium_test/src/com/mobileapplications/.DS_Store
Emporium_test/src/com/mobileapplications/emporium/.DS_Store
