<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileapplications.emporium"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    <!-- Google Maps OpenGL ES v2 renderer -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />

    <!-- ================================================= -->
    <!-- Dropbox Sync API Entries beginning -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Dropbox Sync API Entries end -->
    <!-- Google Maps Entries beginning -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Google Maps Entries end -->
    <!-- Maps Entries beginning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Camera Entries end -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCvEqMHfmXRzt544PLf7PlBQgelhAOpj-o" />

        <activity
            android:name="com.mobileapplications.emporium.MainActivity"
            android:label="@string/app_name" 
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobileapplications.emporium.DropboxMain"
            android:label="@string/title_activity_dropbox_main"
            android:parentActivityName="com.test.helloworld01.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.test.helloworld01.MainActivity" />
        </activity>

        <!-- ================================================= -->
        <!-- Dropbox Sync API Entries beginning -->
        <activity android:name="com.dropbox.sync.android.DbxAuthActivity" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-x9c7fitdx40c8x6" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.dropbox.sync.android.DbxSyncService"
            android:enabled="true"
            android:exported="false"
            android:label="Dropbox Sync" />
        <!-- Dropbox Sync API Entries end -->
        <!-- ================================================= -->

        <activity
            android:name="com.mobileapplications.emporium.dropbox.DropboxMainActivity"
            android:label="@string/title_activity_dropbox_main"
            android:parentActivityName="com.test.helloworld01.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.test.helloworld01.MainActivity" />
        </activity>
        <activity
            android:name="com.mobileapplications.emporium.dropbox.DbxFolderContentListActivity"
            android:label="@string/title_activity_dbx_folder_content_list" >
        </activity>
        <activity
            android:name="com.mobileapplications.emporium.maps.MapActivity"
            android:label="@string/title_map_activity" >
        </activity>
        <activity
            android:name="com.mobileapplications.emporium.camera.CameraActivity2"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name="com.mobileapplications.emporium.camera.CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name="com.mobileapplications.emporium.camera.ImageViewActivity"
            android:label="@string/title_activity_image_view" >
        </activity>
    </application>

</manifest>
