<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileapplications.emporium"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <!-- ================================================= -->
    <!-- Dropbox Sync API Entries beginning -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Dropbox Sync API Entries end -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mobileapplications.emporium.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobileapplications.emporium.DropboxMain"
            android:label="@string/title_activity_dropbox_main"
            android:parentActivityName="com.test.helloworld01.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.test.helloworld01.MainActivity" />
        </activity>

        <!-- ================================================= -->
        <!-- Dropbox Sync API Entries beginning -->
        <activity android:name="com.dropbox.sync.android.DbxAuthActivity" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-x9c7fitdx40c8x6" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.dropbox.sync.android.DbxSyncService"
            android:enabled="true"
            android:exported="false"
            android:label="Dropbox Sync" />
        <!-- Dropbox Sync API Entries end -->
        <!-- ================================================= -->

        <activity
            android:name="com.mobileapplications.emporium.dropbox.DropboxMainActivity"
            android:label="@string/title_activity_dropbox_main"
            android:parentActivityName="com.test.helloworld01.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.test.helloworld01.MainActivity" />
        </activity>
        <activity
            android:name="com.mobileapplications.emporium.dropbox.DbxFolderContentListActivity"
            android:label="@string/title_activity_dbx_folder_content_list" >
        </activity>
    </application>

</manifest>
